body{
    background-color: antiquewhite;
}
h1{
    color: brown;
    text-align:center;
}
p{
    color: black;
    text-decoration: double;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
